@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
@import '../../../node_modules/@lcu/common/assets/theming/common-theme';

/**
  * mixin to set vertical or horizontal dividers
  */
  @mixin divider($direction, $height: $divider-size, $width: 100%, $color: var(--theme-accent-500)) {

    background-color: $color;

    @if $direction == vertical {
      min-height: $height;
      top:10%;
      bottom:10%;
      min-width: $divider-size;
    } @else if $direction == horizontal {
      height: $height;
      width: $width;
    } @else {
      @error "Unknown direction #{$direction}"
    }
  }

  @mixin mat-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }

$primary: map-get($global-theme, primary);
$accent: map-get($global-theme, accent);
$warn: map-get($global-theme, warn);
$background: map-get($global-theme, background);
$foreground: map-get($global-theme, foreground);
$orange-accent: map-get($mat-orange, 500);
$green-accent: map-get($mat-green, A400);
$yellow-accent: map-get($mat-yellow, 600);
$purple-accent: map-get($mat-purple, 500);
$cyan-accent: rgba(map-get($mat-cyan, A100), .75);
$pink-accent: map-get($mat-pink, 500);
$success:  map-get($mat-green, A700);
$divider-size: 5px;

  /**
  * Set initial color values
  */
:root {
  /**
  * Set initial theme color values
  * these are pulled from the current theme, but can be whomever.
  */
    --initial-primary: #{mat-color($primary)};
    --initial-accent: #{mat-color($accent)};
    --initial-warn: #{mat-color($warn)};
    --initial-dark-background: #222222;
    --initial-light-background: #f2f2f2;
    --initial-dark-background: #{invert(mat-color($background, card, .65))};
    --initial-light-background: #{mat-color($background, card)};
    --initial-light-text: #{map-get(map-get($global-theme, 'foreground'), 'text')};
    --initial-dark-text: #{invert(map-get(map-get($global-theme, 'foreground'), 'text'))};
    --background: #{invert(map-get($background, background))};

    /**
    * Brand accent colors - pulled from current theme, but can be whomever
    */
    --orange-accent: #{map-get($mat-orange, 500)};
    --green-accent: #{map-get($mat-green, A400)};
    --yellow-accent: #{map-get($mat-yellow, 600)};
    --purple-accent: #{map-get($mat-purple, 500)};
    --cyan-accent: #{rgba(map-get($mat-cyan, A100), .75)};
    --pink-accent: #{map-get($mat-pink, 500)};
    --success: #{map-get($mat-green, A400)};
}

// * {
//   // margin: 0;
//   // padding: 0;
//   // box-sizing: border-box;
//   // font-size: 62.5%;
// }

body {
  background-color: var(--initial-dark-background);
}

:host {
  
  // .caption-text {
  //   color: rgba(var(--initial-light-text), .25) !important;
  // }


  .valid-control {
    color: var(--green-accent);
  }

  .invalid-control {
    color: var(--theme-warn-500);
  }

  .actions {
      .item:not(:last-child) {
          margin-right: 0px;
      }
  }

  .project-thumbnail {
      img {
          height: 50px;
          width: auto;
      }
  }

  .active {
      background-color: var(--theme-accent-400);
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
  }

  .inactive {
      background-color:rgba(242, 245, 169, 0);
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
  }

  .expansion-panel {
      width: 100%;
      margin-bottom: 10px;
  }

  .expansion-container {
      max-height: 300px;
      overflow-y: auto;
  }

  .divider-fill-vert {
    background-color: var(--theme-accent-500);
    min-height: 100%;
    top:10%;
    bottom:10%;
    min-width: $divider-size;
  }
  
  .divider-fill-hor {
    background-color: var(--theme-accent-500);
    height: $divider-size;
    width: 100%;
  }

  .form-disabled {
    background-color: rgb(121, 121, 121);
    opacity: 0.5;
    border-radius: 4px;
  }

  // .form-enabled {
  //   background-color: rgb(8, 228, 19);
  //   opacity: 0.5;
  //   border-radius: 4px;
  // }
}

